<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>dzf_channel</display-name>
	<!-- spring配置文件位置 -->
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>classpath:spring.xml</param-value>
	</context-param>
	<!-- spring监听器 -->
	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>
	<!-- 账务设置监听 -->
	<listener>
    	<listener-class>com.dzf.action.listener.AccountProcListenter</listener-class>
	</listener>
	
	<!--dzf session管理监听 -->
	<listener>  
		<listener-class>com.dzf.pub.DzfSessionListener</listener-class>  
	</listener> 
  	
  	<!-- request filter -->
	<filter>
		<filter-name>DZFRequestFilter</filter-name>
		<filter-class>com.dzf.pub.DZFRequestFilter</filter-class>
	</filter>
  	
  	<!-- url filter -->
	<filter>
		<filter-name>UrlFilter</filter-name>
		<filter-class>com.dzf.channel.filter.UrlFilter</filter-class>
	</filter>
	
  	<!-- Struts2配置 -->
	<filter>
		<filter-name>struts2</filter-name>
		<filter-class>org.apache.struts2.dispatcher.ng.filter.StrutsPrepareAndExecuteFilter</filter-class>
	</filter>

	<filter-mapping>
		<filter-name>DZFRequestFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>

	<filter-mapping>
		<filter-name>UrlFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>

	<filter-mapping>
		<filter-name>struts2</filter-name>
		<url-pattern>*.action</url-pattern>
	</filter-mapping>
	
<!--     <servlet>         
   		<servlet-name>CXFServlet</servlet-name>   
        <servlet-class>org.apache.cxf.transport.servlet.CXFServlet</servlet-class>
        <load-on-startup>1</load-on-startup>   
    </servlet>    
    <servlet-mapping>      
        <servlet-name>CXFServlet</servlet-name>      
        <url-pattern>/services/*</url-pattern>    
    </servlet-mapping> -->
    
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  
   <error-page> 
        <error-code>404</error-code> 
        <location>/404.html</location> 
    </error-page> 
  
   <error-page> 
        <error-code>500</error-code> 
        <location>/500.html</location> 
    </error-page>
    
    <error-page> 
        <exception-type>java.lang.Exception</exception-type> 
        <location>/500.jsp</location> 
    </error-page> 
    <session-config>
		<session-timeout>120</session-timeout>
	</session-config>
	<!-- druid监控  begin-->
  	<servlet>  
	    <servlet-name>DruidStatView</servlet-name>  
	    <servlet-class>com.alibaba.druid.support.http.StatViewServlet</servlet-class>  
	</servlet>  
	<servlet-mapping>  
	    <servlet-name>DruidStatView</servlet-name>  
	    <url-pattern>/druid/*</url-pattern>  
	</servlet-mapping>
	<!-- druid监控  end-->
</web-app>