.dzf-skin .logo{
    background: #8bba34 url(../images/skin/chun_zsj.png) no-repeat;  /* 背景色及背景 */
    background-size: cover;
}
.dzf-skin div#sidebar {
    background: #fff url(../images/skin/chun_zxj.png) no-repeat left bottom;  /* 背景 */
    background-size: contain;
}
.dzf-skin div#sidebar:before {
    background: rgba(225,241,197,0.7);
}
.dzf-skin .nav_li span i {
    background-image: url(../images/skin/chun_aside_icon.png);
}
.dzf-skin .nav_li .menu_1 {
    background: #8bba34;
}
.dzf-skin .nav_li .menu_1 span{
	background: #719729;
}
.dzf-skin .sub_menu_div, .dzf-skin .sub_menu_div1{
	background: #8bba34;
}
.dzf-skin .sub_menu_ul li:hover {
    background-color: #719729;
}
.dzf-skin .top_text span.home-icon, .dzf-skin .drop_down_block span b {
    background-color: #689501;
}
.dzf-skin .main_cont .tabs li.tabs-selected .tabs-title,
.dzf-skin .main_cont .tabs li a.tabs-inner:hover .tabs-title {
    color: #8bba34;   /* 字体色 */
}
.dzf-skin .w_600 dl dd a{
	color: #8bba34;  
}
.dzf-skin .w_600 dl dd a:hover{
	color: #fff;
	background: #8bba34;
} 
.dzf-skin .mod-toolbar-top {
    /* margin: 0px 18px 18px;
    margin: 0px 0px 0px; */
    background:#e6edd9;
} 
/*  .dzf-skin .w_600_tab li.wen1, */
/* .dzf-skin .hz_tab li.wen1 span, */
.dzf-skin .yggzlfx h3, .dzf-skin .drop_down,
.dzf-skin .ui-btn-xz{
    background-color: #8bba34;  /* 背景色 */
}
.dzf-skin .ui-btn-xz{
	/* border-bottom: 2px solid #8bba34; */
	border:none;
}
.dzf-skin .main_top{
    background: #8bba34;  /* 背景色及背景 */
}
.dzf-skin .drop_down_block .user-arrow, .dzf-skin .main_cont .tabs-first .tabs-icon, .dzf-skin .main_cont .tabs li a.tabs-close {
    background-image: url(../images/skin/chunicon.png);  /* 背景 */
    background-repeat: no-repeat;
}

.dzf-skin .main_cont .tabs-scroller-left, .dzf-skin .main_cont .tabs-scroller-right, .dzf-skin .manager-tz h4 .msg-more i {
    background: #F2F2F2 url(../images/skin/chun_left_icon.png) no-repeat left center;  /* 背景 */
    background-size: contain;
}

/*按钮颜色, panel window头颜色*/
.dzf-skin .ui-btn, .dzf-skin .dialog-button .l-btn,
    .dzf-skin .messager-button .l-btn, .dzf-skin .easyui-linkbutton,
    .dzf-skin .window .window-header,
    .dzf-skin .accordion-header-selected {
    background: #8bba34;
    color: #fff;
    filter:alpha(opacity=100);
}
/*按钮悬停颜色*/
.dzf-skin .ui-btn:hover, .dzf-skin .dialog-button .l-btn:hover,
.dzf-skin .messager-button .l-btn:hover, .dzf-skin .easyui-linkbutton:hover {
    background: #fff;
    color: #8bba34;
}
.more_div li a:hover {
    background: #8bba34;
    color: #fff;
}

/*上传图片按钮颜色*/
.dzf-skin #uploader .placeholder .webuploader-pick, .dzf-skin #uploader .statusBar .btns .uploadBtn
	{
	background: #8bba34;
	color: #fff;
}

.dzf-skin #uploader .placeholder .webuploader-pick-hover , .dzf-skin #uploader .statusBar .btns .uploadBtn:hover{
	background: #749635;
}

/*dialog关闭按钮*/
.dzf-skin .panel-tool a:hover {
    background-color: #8bba34;
}

.dzf-skin .search-rs {
	background: #8bba34;
	color: #fff;
}
.card_alls p a,.card_le .a_sel{
	background: #8bba34;
    border-color: #8bba34;
}
.left_ul li{
    border: 1px solid #8bba34;
   margin: 5px 0;
}
.left_ul li:hover,.left_ul .sel{
	color:#fff;
}
.left_ul li:hover,.left_ul .sel,.accordion .accordion-header{
  	background: #8bba34;
}

.dzf-skin .search_select{
    background-color:#699419;
}
#tabsMenu + .panel .combo-panel{background:#699419;}
#tabsMenu + .panel .combobox-item-hover{background:none;}
#tabsMenu + .panel .combobox-item{color:#FFF;}
#tabsMenu + .panel .combobox-item-selected{background:#8bba34;}

.dzf-skin .w_600_tab li.wen1{border-top:3px solid #8bba34;line-height:24px;background:#f6f8f8;}
.dzf-skin .hz_tab li.wen1 span{border-top:3px solid #8bba34;line-height:44px;background:#f6f8f8;}
.khjyfx h3{background:#8bba34; color:#FFF;}

/*用户信息换肤*/
.machine li a {border:1px solid #8bba34;}
.box-wrapper{border:1px solid #8bba34;}
.btn_change button{background:#8bba34;}
.dzf-skin .main_cont .tabs li.tabs-selected a.tabs-inner{border:1px solid #78a12d}
.dzf-skin .main_cont .tabs li a.tabs-inner{border:1px solid #78a12d}
.msg-left{background:#76b183;}
.dzf-skin .user_menu .message-list{background:#76b183;}
.tabs li.tabs-selected a.tabs-inner{background:#8bba34;}