
.Marketing input{color:red;font-weight: bold;}
.decan .textbox{border:none;background:#f4f4f4;}
.decan .textbox .textbox-text{background:#f4f4f4;text-align: left;}
.strong .textbox .textbox-text{font-weight: bold;}