
.Marketing input{color:red;font-weight: bold;}
.decan-top .textbox{background:#eff1f2 !important;}
.decan-top .textbox .textbox-text{background:#eff1f2 !important;}
.decan .textbox{border:none;background:#fff;}
.decan .textbox .textbox-text{background:#fff;text-align: left;}
.strong .textbox .textbox-text{font-weight: bold;}
.decan .datebox .combo-arrow{background:none}