#livediv .date_impor .two_body_month,#livediv .date_impor .first_body_month{
	width:190px;
	height:110px;
	padding:4px 0px;
	border-top:1px solid #b7b7b7;
}


#livediv .date_impor .two_body_month span,#livediv .date_impor .first_body_month span{
	width:30px;
	height:30px;
	border-radius:5px;
	margin:3px 8px;
	line-height:30px;
	display:inline-block;
	
}
#livediv .date_impor .two_body_month span:hover,#livediv .date_impor .first_body_month span:hover{
	cursor:pointer;
}
.first_left ,.first_right,.two_left,.two_right{
	cursor:pointer;
}
.blue{
	background:#2c9dd8;
	color:white;
}
#livediv .certain,#livediv .cancels{
	cursor:pointer;
	width:42px;
	height:16px;
	border-radius:5px;
	display:inline-block;
	text-align:center;margin-right:5px;
	line-height:15px;
	border:1px solid #2c9dd8;
	background: #2c9dd8 !important;
	background: -moz-linear-gradient(top, #fff, #f4f4f4);
	background: -webkit-gradient(linear, 0 0, 0 100%, from(#fff),
		to(#f4f4f4));
	background: -o-linear-gradient(top, #fff, #f4f4f4);
	background: -ms-linear-gradient(top, #fff 0, #f4f4f4 100%);
	background: linear-gradient(top, #fff, #f4f4f4);
	border: none; 
	color: #fff;
}

#livediv .cancels:hover,#livediv .certain:hover {
	filter: progid: DXImageTransform.Microsoft.Gradient(enabled=false);
	background: #fff !important;
	color: #555
}
.agentacc #livediv{top:8% !important;}
@media screen and (min-width: 1367px) and (max-width:1920px) {
	.agentacc #livediv{top:5% !important;}
}
@media screen and (min-width:1025px) and (max-width:1366px) {
	.agentacc #livediv{top:8% !important;}
}
