.preview {
	font-family: Microsoft YaHei;
	width: 100%;
	margin: 0 auto;
	overflow: hidden;
	font-weight: bold;
	font-size: 14px;
	padding-right: 1000px;
	height: 94%;
}

.change-avatar {
	width: 16%;
	padding-top: 10px;
	float: left;
	text-align: center;
	clear: both;
}

.change-avatar-text {
	font-size: 14px;
	margin-top: 10px;
	color: #1489e4;
	cursor: pointer;
}

.personal-infor {
	height: 98%;
	overflow: auto;
	float: left;
	width: 100%;
}

.title {
	font-size: 14px;
	margin: 10px 0;
}

.input-item {
	height: 32px;
	padding: 12px 0;
}

.input-item input {
	height: 24px;
}

.input-item input, .input-item select, .input-item textarea,
	.button-group button {
	font-size: 14px;
	font-family: youyuan;
	font-weight: bold;
	color: #666;
}

.input-item>* {
	vertical-align: middle;
}

.input1 {
	width: 116px;
	margin-right: 65px;
}

.input2 {
	width: 166px;
}

.input3 {
	width: 545px;
}

.input-item select {
	appearance: none;
	-moz-appearance: none;
	-webkit-appearance: none;
	width: 170px;
	height: 30px;
	font-size: 14px;
	padding: 0 10px;
	background: url("../../../images/website/billperson/arrow-down.png")
		145px no-repeat;
	margin-right: 10px;
}

.input-item select:focus {
	border-color: #218BE1;
	outline: none;
}

.description {
	padding-top: 0;
	height: auto;
}

.description textarea {
	width: 635px;
	height: 106px;
	padding: 5px 10px;
	resize: none;
}

.preview label {
	margin-right: -3px;
}

.button-group {
	margin-top: 30px;
	margin-left: 70px;
}

.preview button {
	border: 1px solid #1489e4;
	background: #FFF;
	outline: none;
	cursor: pointer;
	width: 158px;
	height: 48px;
	color: #1489E4;
	font-size: 14px;
	border-radius: 5px;
}

.preview button.close {
	background: #1489e4;
	color: #FFF;
}

.preview button.save {
	margin-left: 120px;
}

.input-item {
	width: auto;
}

.imgbox, .imgbox1 {
	float: left;
	margin-right: 14px;
	margin-bottom: 14px;
	position: relative;
	width: 150px;
	height: 100px;
	overflow: hidden;
}
.imgnum {
	left: 0px;
	top: 0px;
	margin: 0px;
	padding: 0px;
}

.imgnum input, .imgnum1 input {
	position: absolute;
	width: 200px;
	height: 120px;
	opacity: 0;
	cursor: pointer;
}

.imgnum img, .imgnum1 img {
	width: 100%;
	height: 100%;
}

.close2, .close1 {
	color: red;
	position: absolute;
	left: 116px;
	top: 10px;
	cursor: pointer;
}

.Infor {
	height: 50px;
	background: #1b8cf2;
	margin-right: 60px;
}

.Infor .img-A {
	margin: 10px 0px 0px 30px;
}

.imgnum .close img, .imgnum .close1 img {
	height: 26px;
}

.Dlelete img {
	width: 23px;
	position: absolute;
	left: 130px;
	top: 10px;
	height: 26px;
	cursor: pointer;
}
.panel-title{font-size:15px;}